<ion-header>
  <ion-toolbar>
    <ion-title slot="start"> PEDIDOS </ion-title>
  </ion-toolbar>
</ion-header>
<ion-fab vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button color="dark" style="width:45px;height:45px;margin-top:-5px">
    <ion-icon name="exit-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="bottom">
    <ion-fab-button color="dark" (click)="back()">
      <ion-icon name="arrow-back-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="dark" (click)="Logout()">
      <ion-icon name="exit-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<ion-content>
  <div>
    <ion-card *ngFor="let pedido of listadoVista">
      <p>Mesa {{pedido[1]}} - Estado Pedido {{pedido[2]}}</p>
      <ul *ngFor="let item of pedido[3]">
          <li>{{item.nombre}} {{item.cantidad}}</li>  
      </ul>
      <ion-button (click)="aceptarPedido(pedido[0])">Aceptar Pedido</ion-button>
      <ion-button (click)="entregarPedido(pedido[0])" class="btnEntregar">Entregar Pedido</ion-button>
    </ion-card>
    <ion-button (click)="recargar()" style="display:block;">Recargar</ion-button>
  </div>
</ion-content>