ion-toolbar {
  --background: #39a1ac;
  width: 100%;
}

ion-title {
  --color: #fff;
  font-weight: 600;
  font-size: 1.5em;
}


#box {
  --background: rgba(19, 19, 19, 0.3);
  margin-top: -1em;
}

ion-content {
  width: 100%;
  --background: url("../../../assets/background1.jpeg") center;
  background-attachment: fixed;
  background-size: cover;
}

ion-card {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card-body{
  margin-top: 10px;
}

h5{
  font-size: 2em;
  color: #fff;
  font-weight: 600;
  margin-top: 30px;
}

p {
  font-size: 1em;
  color: #fff;
  font-weight: 600;
  padding: 10px;
}

img{
  max-width:300px;
  padding: 20px;
  border-radius: 10px;
  margin-top: -10px;
}


.lbl {
  font-size: 25px;
  font-family: cursive;
}

.boton {
  width: 80vw;
  height: 200px;
}