<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-title slot="start"> -->
      <ion-img src="../assets/logo2.png" class="vertical"></ion-img>

    <!-- </ion-title> -->
  </ion-toolbar>
</ion-header>


<ion-content id="viewHome">
  <div id="cardForm">
    <ion-card id="box">

  <form [formGroup]="credentials" (ngSubmit)="login()">
    <ion-item lines="full" fill="solid" class="ion-margin-bottom espacio">
      <ion-label position="stacked">Correo electrónico</ion-label>
      <ion-input type="email" placeholder="Correo electrónico" formControlName="email"></ion-input>
      <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">Correo electrónico es inválido</ion-note>
    </ion-item>

    <ion-item lines="full" fill="solid" class="ion-margin-bottom espacio">
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input type="password" placeholder="Contraseña" formControlName="password"></ion-input>
      <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">Contraseña es inválida</ion-note>
    </ion-item>

    <!-- <ion-button expand="full" (click)="cargarUsuario()">Usuario</ion-button> -->
    <ion-button expand="block" type="submit" color="success" class="boton" [disabled]="!credentials.valid">Ingresar</ion-button>
    <ion-button expand="block" type="button" class="boton" (click)="register()">Crear cuenta
      <ion-icon slot="end" name="star"></ion-icon>
    </ion-button>
  </form>  
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>{{opcion}}
      <!-- <ion-img src="../assets/opciones.png"></ion-img> -->
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="cargarUsuario('1')" data-desc="Administrador">
        <ion-img src="../assets/admin.png"></ion-img>
      </ion-fab-button>
      <ion-fab-button (click)="cargarUsuario('2')" data-desc="Supervisor">
        <ion-img src="../assets/supervisor.png"></ion-img>
      </ion-fab-button>
      <ion-fab-button (click)="cargarUsuario('3')" data-desc="Metre">
        <ion-img src="../assets/metre.png"></ion-img>
      </ion-fab-button>
      <ion-fab-button (click)="cargarUsuario('4')" data-desc="Mozo">
        <ion-img src="../assets/mozo.png"></ion-img>
      </ion-fab-button>
      <!-- <ion-fab-button (click)="cargarUsuario('5')" data-desc="Cliente">
        <ion-img src="../assets/cliente.png"></ion-img>
      </ion-fab-button> -->
    </ion-fab-list>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button><span style="padding: 2px;">Anónimo</span>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="anonimo()">
        <ion-img src="../assets/anonimo.png"></ion-img> 
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button>Clientes
      <!-- <ion-img src="../assets/opciones.png"></ion-img> -->
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="cargarUsuario('5')" data-desc="Cliente">
        <ion-img src="../assets/cliente.png"></ion-img>
      </ion-fab-button>
      <ion-fab-button (click)="cargarUsuario('6')" data-desc="Cliente10">
        <ion-img src="../assets/cliente.png"></ion-img>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</div>
</ion-content>
