.espacio {
    padding: 5%;
}
// .fondo{
    // background: url("../../assets/fondo.png") center / cover;
// }
.boton{
    height: 100px;
}

ion-fab-button[data-desc] {
    position: relative;
}

ion-fab-button[data-desc]::after {
    position: absolute;
    content: attr(data-desc);
    z-index: 1;
    right: 50px;
    bottom: 7px;
    color: var(--ion-color-contrast, #fff);
    background-color: var(--ion-color-base, rgb(60, 60, 60));
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0 3px 5px -1px rgba(69, 69, 69, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

  //Preview
  #viewHome {
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: 0;
    //--background: #46205b !important;
    // background-color: #fdfdfd4d ;
    // background: url("../../../assets/fondo.png") center / cover;
}

.cardUser {
    width: 100vw;
    height: 50vh;
    margin: 0;
    border-radius: 0;
}

// .fondo{
//     background-color: #fdfdfd4d !important;
//     background: url("../../../assets/fondo.png") center / cover;


// }
img {
    width: 90vw;
    height: 45vh;
    margin: 0;
}

h1 {
    margin-top: -30px;
    text-align: center;
    font-family: 'Acme', sans-serif;
    font-size: 3em;
    color: aliceblue;
    -webkit-text-stroke: 0.6px rgb(10, 5, 5);
    font-weight: 600;
}

ion-label{
    color:#000 !important;
}
ion-input{
    --color:#000;
}


@media screen and (min-width: 460px) {
    #viewHome {
        display: flex;
        flex-direction: row;
    }

    .cardUser {
        width: 50vw;
        height: 100vh;
        margin: 0;
    }

    img {
        width: 250px;
        height: 250px;
        margin: 0;
    }
}

@media (orientation: landscape) {
    .cardUser {
        width: 100vw;
        height: 50vh;
        margin: 0;
    }

    img {
        width: 40vw;
        height: 40vh;
        margin: 0;
    }
}

//Form

ion-header {
    width: 100vw;
}

ion-toolbar{
    --background:rgb(217, 217, 217);
}


#cardForm {
    background: lightgrey;// #fdfdfd4d  !important;
    // --background: #fdfdfd4d !important;
    // background: #e3e3e3;
    width: 100%;
    height: 100%;
    padding-top: 20%;
    // background: url("../../../assets/fondo.png") center / cover;
}

#box {
    background: lightgrey;
    // --background: #fdfdfd4d !important;
    height: 90vh;
    margin-top: -1em;
    // background: url("../../../assets/fondo.png") center / cover;
}

form {
    margin-top: 2em;
}

ion-item {
    --background: transparent;
}

ion-label {
    font-size: 1.2em !important;
    font-weight: 600;
}

.icono {
    width: 40px;
    height: 40px;
}


#btnFoto {
    width: 80px;
    height: 80px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    margin: auto;
}

#qr {
  width: 80px;
  height: 80px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.btnGuardar {
    width: 100%;
    height: 8vh;
    font-weight: 600;
}

ion-img.vertical {
    width: 20%;
    height: 20%;
    margin-top: 2%;
    margin-left: 75%;
    margin-right: 5%;

    // height: 98%;
    // width: 98%;
    // height: 8rem;
    // width: 16rem;   
    // padding: 1%;    
  }
  
ion-footer {
    position: absolute;
    bottom: 0;
    height: 8vh;
}

ion-toolbar {
    // --background: #39a1ac;
    width: 100%;
}

// ion-title {
//     --color: #fff;
//     font-weight: 600;
//     font-size: 1.5em;
// }

small{
  color:#bc4a57;
  margin-left: 5px;
}