<ion-header>
  <ion-toolbar>
    <ion-title slot="start"> PEDIDOS </ion-title>
  </ion-toolbar>
</ion-header>
<ion-fab vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button color="dark" style="width:45px;height:45px;margin-top:-5px">
    <ion-icon name="exit-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="bottom">
    <ion-fab-button color="dark" (click)="back()">
      <ion-icon name="arrow-back-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="dark" (click)="Logout()">
      <ion-icon name="exit-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<ion-content>

  <!-- COCINERO-->
  <section *ngIf="rol === 'COCINERO'">

    <ion-item color="warning" *ngIf="listaItemsPedidoCocinero && listaItemsPedidoCocinero.length === 0">
      <ion-label class="ion-text-wrap">
        No hay pedidos con productos pendientes a preparar
      </ion-label>
    </ion-item>

    <ion-card *ngFor="let item of listaItemsPedidoCocinero">
      <p>MESA #{{item.mesa}}</p>
      <p>Productos a preparar:</p>
      <ul>
        <li *ngFor="let subitem of item.itemsMesa">{{subitem.producto?.nombre}} x {{subitem.cantidad}}
          <ul>
            <li>
              <ion-button (click)="actualizarEstadoItem(subitem, 'ELABORACION')" *ngIf="subitem.estado === 'PENDIENTE'">
                Poner en preparación
              </ion-button>
              <ion-button (click)="actualizarEstadoItem(subitem, 'LISTO')" class="btnEntregar"
                *ngIf="subitem.estado === 'EN ELABORACION'">Poner en finalizado
              </ion-button>
            </li>
          </ul>
        </li>
      </ul>
    </ion-card>

  </section>
  <!-- --------- -->

  <!-- BARTENDER-->
  <section *ngIf="rol === 'BARTENDER'">

    <ion-item color="warning" *ngIf="listaItemsPedidoBartender && listaItemsPedidoBartender.length === 0">
      <ion-label class="ion-text-wrap">
        No hay pedidos con productos pendientes a preparar
      </ion-label>
    </ion-item>

    <ion-card *ngFor="let item of listaItemsPedidoBartender">
      <p>MESA #{{item.mesa}}</p>
      <p>Productos a preparar:</p>
      <ul>
        <li *ngFor="let subitem of item.itemsMesa">{{subitem.producto?.nombre}} x {{subitem.cantidad}}
          <ul>
            <li>
              <ion-button (click)="actualizarEstadoItem(subitem, 'ELABORACION')" *ngIf="subitem.estado === 'PENDIENTE'">
                Poner en preparación
              </ion-button>
              <ion-button (click)="actualizarEstadoItem(subitem, 'LISTO')" class="btnEntregar"
                *ngIf="subitem.estado === 'EN ELABORACION'">Poner en finalizado
              </ion-button>
            </li>
          </ul>
        </li>
      </ul>
    </ion-card>

  </section>
  <!-- --------- -->

</ion-content>