  //Preview
  #viewHome {
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: 0;
    --background: #46205b !important;
}

.cardUser {
    width: 100vw;
    height: 50vh;
    margin: 0;
    border-radius: 0;
}

img {
    width: 90vw;
    height: 45vh;
    margin: 0;
}

h1 {
    margin-top: -30px;
    text-align: center;
    font-family: 'Acme', sans-serif;
    font-size: 3em;
    color: aliceblue;
    -webkit-text-stroke: 0.6px rgb(10, 5, 5);
    font-weight: 600;
}

.btnCliente {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   // --background: url("./../../../assets/fondo2.png") no-repeat center; //#48ca3c;
   --background:linear-gradient(to right, #3c9f07, #e4e4d9);
    overflow: hidden;
    background-attachment: fixed;
    background-size: cover;
    flex-direction: column;
}

.btnAnonimo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // --background: url("./../../../assets/fondo.png") no-repeat center;
    --background: linear-gradient(to right, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow: hidden;
    background-attachment: fixed;
    background-size: cover;
    flex-direction: column;
}

@media screen and (min-width: 460px) {
    #viewHome {
        display: flex;
        flex-direction: row;
    }

    .cardUser {
        width: 50vw;
        height: 100vh;
        margin: 0;
    }

    img {
        width: 250px;
        height: 250px;
        margin: 0;
    }
}

@media (orientation: landscape) {
    .cardUser {
        width: 100vw;
        height: 50vh;
        margin: 0;
    }

    img {
        width: 40vw;
        height: 40vh;
        margin: 0;
    }
}

//Form

ion-header {
    width: 100vw;
}

#cardForm {
    background: grey;// #fdfdfd4d  !important;
    // background: #e3e3e3;
    width: 100%;
    height: 100vh;
}

#box {
    --background: rgba(253, 253, 253, 0.3);
    height: 85%;
    margin-top: -1em;
    overflow: scroll;
}

form {
    margin-top: 2em;
}

ion-item {
    --background: transparent;
}

ion-label {
    font-size: 1.2em !important;
    font-weight: 600;
}

.icono {
    width: 40px;
    height: 40px;
}

ion-label{
  color:#000 !important;
}
ion-input{
  --color:#000;
}


#btnFoto {
    width: 80px;
    height: 80px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    margin: auto;
}

#qr {
  width: 80px;
  height: 80px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.btnGuardar {
    width: 100%;
    height: 8vh;
    font-weight: 600;
}


ion-footer {
    position: absolute;
    bottom: 0;
    height: 8vh;
}

ion-toolbar {
    --background: #39a1ac;
    width: 100%;
}

ion-title {
    --color: #fff;
    font-weight: 600;
    font-size: 1.5em;
}

small{
  color:#bc4a57;
  margin-left: 5px;
}