<div id="viewForm" *ngIf="view" [style.visibility]="content_visibility" >
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title slot="start"> Crear Cuenta </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" style="width:45px;height:45px;margin-top:-5px">
      <ion-icon name="exit-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button color="dark" (click)="Logout()">
        <ion-icon name="exit-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <div id="cardForm">
  <ion-card id="box">
    <!--Form Cliente-->
    <form [formGroup]="loginForm" > 
      <ion-item lines="full">
        <ion-label position="stacked">Correo electrónico</ion-label>
        <ion-input type="email" formControlName="email" required size="" name="email"
          placeholder="Correo electrónico">
        </ion-input>
      </ion-item>
      <ion-row class="hiddenItems">
        <small
          *ngIf="loginForm.get('email').hasError('required') && (loginForm.get('email').dirty || loginForm.get('email').touched)">Por
          favor, ingrese su correo.</small>
        <small *ngIf="loginForm.get('email').hasError('email')">Ingrese un correo valido.</small>
      </ion-row>
      <ion-item lines="full">
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input type="password" required formControlName="password" name="password"
          placeholder="Contraseña"></ion-input>
      </ion-item>
      <ion-row class="hiddenItems">
        <small
          *ngIf="loginForm.get('password').hasError('required') && (loginForm.get('password').dirty || loginForm.get('password').touched)"
          [ngClass]="loginForm.get('password').hasError('required') && loginForm.get('password').touched ? 'visible' : 'hidden'">Ingrese
          una contraseña.</small>
        <small
          *ngIf="loginForm.get('password').hasError('minlength') && (loginForm.get('password').dirty || loginForm.get('password').touched)"
          [ngClass]="loginForm.get('password').hasError('minlength') && loginForm.get('password').touched ? 'visible' : 'hidden'">La
          contraseña no debe contener al menos 6 caracteres.</small>
      </ion-row>
      <ion-item lines="full">
        <ion-label position="stacked">Confirmar contraseña</ion-label>
        <ion-input type="password" required formControlName="passwordAux" name="passwordAux"
          placeholder="Contraseña"></ion-input>
      </ion-item>
      <ion-row class="hiddenItems">
        <small
          *ngIf="loginForm.get('passwordAux').hasError('required') && (loginForm.get('passwordAux').dirty || loginForm.get('passwordAux').touched)"
          [ngClass]="loginForm.get('passwordAux').hasError('required') && loginForm.get('passwordAux').touched ? 'visible' : 'hidden'">Ingrese
          una contraseña.</small>
        <small
          *ngIf="loginForm.get('passwordAux').hasError('minlength') && (loginForm.get('passwordAux').dirty || loginForm.get('passwordAux').touched)"
          [ngClass]="loginForm.get('passwordAux').hasError('minlength') && loginForm.get('passwordAux').touched ? 'visible' : 'hidden'">La
          contraseña no debe contener al menos 6 caracteres.</small>
      </ion-row>
      <ion-item lines="full">
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input type="text" formControlName="nombre" required size="" name="nombre"
          placeholder="Nombre" [(ngModel)]="nombre">
        </ion-input>
      </ion-item>
      <ion-row class="hiddenItems">
        <small
          *ngIf="loginForm.get('nombre').hasError('required') && (loginForm.get('nombre').dirty || loginForm.get('nombre').touched)"
          [ngClass]="loginForm.get('nombre').hasError('required') && loginForm.get('nombre').touched ? 'visible' : 'hidden'">Ingrese
          un nombre.</small>
      </ion-row>
      <ion-item lines="full" >
        <ion-label position="stacked">Apellido</ion-label>
        <ion-input type="text" formControlName="apellido" required size="" name="apellido"
          placeholder="Apellido" [(ngModel)]="apellido">
        </ion-input>
      </ion-item>
      <ion-row class="hiddenItems">
        <small
          *ngIf="loginForm.get('apellido').hasError('required') && (loginForm.get('apellido').dirty || loginForm.get('apellido').touched)"
          [ngClass]="loginForm.get('apellido').hasError('required') && loginForm.get('apellido').touched ? 'visible' : 'hidden'">Ingrese
          una apellido.</small>
      </ion-row>
      <ion-item lines="full">
        <ion-label position="stacked">Dni</ion-label>
        <ion-input type="number" formControlName="dni" required size="" name="dni"
          placeholder="DNI" [(ngModel)]="dni">
        </ion-input>
      </ion-item>
      <ion-row class="hiddenItems">
        <small
          *ngIf="loginForm.get('dni').hasError('required') && (loginForm.get('dni').dirty || loginForm.get('dni').touched)"
          [ngClass]="loginForm.get('dni').hasError('required') && loginForm.get('dni').touched ? 'visible' : 'hidden'">Ingrese
          un dni valido.</small>
        <small
          *ngIf="loginForm.get('dni').hasError('max') && (loginForm.get('dni').dirty || loginForm.get('dni').touched)"
          [ngClass]="loginForm.get('dni').hasError('max') && loginForm.get('dni').touched ? 'visible' : 'hidden'">El dni debe ser menor a 99.999.999</small>
      </ion-row>
      <ion-item lines="full">
        <ion-label position="stacked" style="margin-bottom: -1em;">Foto</ion-label>
        <img src="./../../../assets/camara.png" alt="" (click)="activarCamara()" id="btnFoto">
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked" style="margin-bottom: -1em;">Scanear Dni</ion-label>
        <img src="./../../../assets/QrDni.png" (click)="ReadQrCode()" alt="" id="qr">
      </ion-item>
    </form>
  </ion-card>
</div>


  <ion-footer [translucent]="true">
    <ion-toolbar>
      <ion-button  [disabled]="!loginForm.valid" *ngIf="perfilCliente" class="btnGuardar" (click)="guardarUsuario()" expand="block">Guardar Usuario</ion-button>
    </ion-toolbar>
  </ion-footer>
</div>