<ion-header>
  <ion-toolbar>
    <ion-title>Encuesta</ion-title>
  </ion-toolbar>
</ion-header>
<ion-fab vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button color="dark" style="width:45px;height:45px;margin-top:-5px">
  <ion-icon name="exit-outline"></ion-icon>
</ion-fab-button>
<ion-fab-list side="bottom">
  <ion-fab-button color="dark" (click)="back()">
    <ion-icon name="arrow-back-circle"></ion-icon>
  </ion-fab-button>
  <ion-fab-button color="dark" (click)="logout()">
    <ion-icon name="exit-outline"></ion-icon>
  </ion-fab-button>
</ion-fab-list>
</ion-fab>

<ion-content>
  <ion-card id="box">
    <ion-list>

    <form (ngSubmit)="agregarEncuesta()">    
    <!-- <form [formGroup]="formEncuesta" (ngSubmit)="agregarEncuesta()">     -->
      <ion-item lines="full" fill="solid" class="ion-margin-bottom espacio">
        <ion-label position="stacked">¿Cómo valoras la calidad de la comida?</ion-label>
      </ion-item>
      <ion-list>
        <ion-radio-group (ionChange)="checkValueComida($event)" [value]="item">
          <ion-item>
            <ion-label>Excelente</ion-label>
            <ion-radio slot="end" name="comida" value="Excelente"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Normal</ion-label>
            <ion-radio slot="end" name="comida" value="Normal"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Basura</ion-label>
            <ion-radio slot="end" name="comida" value="Basura"></ion-radio>
          </ion-item>
        </ion-radio-group>        
        <!-- <ion-radio-group value="Excelente">
          <ion-item>
            <ion-label>Excelente</ion-label>
            <ion-radio slot="end" name="comida" value="Excelente" formControlName="comida"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Normal</ion-label>
            <ion-radio slot="end" name="comida1" value="Normal" formControlName="comida1"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Basura</ion-label>
            <ion-radio slot="end" name="comida2" value="Basura" formControlName="comida2"></ion-radio>
          </ion-item>
        </ion-radio-group>         -->
        <!-- <small *ngIf="formEncuesta.get('comida')?.errors?.required && formEncuesta.get('comida')?.touched">Comida es requerido</small> -->
      </ion-list>

      <ion-item lines="full" fill="solid" class="ion-margin-bottom espacio">
        <ion-label position="stacked">¿Cómo valoras la atención del personal?</ion-label>
      </ion-item>
      <ion-range name="personal" [ticks]="true" [snaps]="true" [min]="0" [max]="10" (ionChange)="checkValuePersonal($event)" [value]="item"></ion-range>
      <!-- <ion-range name="personal" formControlName="personal" [ticks]="true" [snaps]="true" [min]="0" [max]="10"></ion-range> -->
      <!-- <small *ngIf="formEncuesta.get('personal')?.errors?.required && formEncuesta.get('personal')?.touched">Personal es requerido</small> -->
    
      <ion-item lines="full" fill="solid" class="ion-margin-bottom espacio">
        <ion-label position="stacked">¿Nos recomendarías?</ion-label>
      </ion-item>
      <ion-segment (ionChange)="checkValueRecomendacion($event)">
        <ion-segment-button name="recomendacion" value="default">
          <ion-label>Sí</ion-label>
        </ion-segment-button>
        <ion-segment-button name="recomendacion" value="NO">
          <ion-label>No</ion-label>
        </ion-segment-button>
      </ion-segment>
      <!-- <ion-segment value="default">
        <ion-segment-button name="recomendacion" formControlName="recomendacion" value="default">
          <ion-label>Sí</ion-label>
        </ion-segment-button>
        <ion-segment-button name="recomendacion" formControlName="recomendacion" value="no">
          <ion-label>No</ion-label>
        </ion-segment-button>
      </ion-segment>
      <small *ngIf="formEncuesta.get('recomendacion')?.errors?.required && formEncuesta.get('recomendacion')?.touched">Recomendación es requerido</small> -->
      
      <!-- <ion-button expand="full" (click)="cargarUsuario()">Usuario</ion-button> -->
      <ion-button expand="block" type="submit" color="success" class="boton" >Finalizar</ion-button>
      <!-- <ion-button expand="block" type="submit" color="success" class="boton" [disabled]="!encuesta.valid">Finalizar</ion-button> -->
      <ion-button expand="block" type="button" class="boton" (click)="back()">Cancelar</ion-button>

      </form>
    </ion-list>
  </ion-card>

</ion-content>
