<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start"> Solicitudes de Clientes </ion-title>
  </ion-toolbar>
</ion-header>
<ion-fab vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button color="dark" style="width:45px;height:45px;margin-top:-5px">
    <ion-icon name="exit-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="bottom">
    <ion-fab-button color="dark" (click)="back()">
      <ion-icon name="arrow-back-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="dark" (click)="logout()">
      <ion-icon name="exit-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<ion-content>
  <ion-card id="box">
    <ion-list>
      <ion-list-header color="light">
        PENDIENTES
      </ion-list-header>

      <ion-item *ngIf="listaPendientes && listaPendientes.length === 0">
        <ion-label class="ion-text-wrap">
          <ion-badge color="light"> No hay usuarios pendientes para confirmar</ion-badge>
        </ion-label>
      </ion-item>

      <ion-item-sliding *ngFor="let usuario of listaPendientes">
        <ion-item>
          <ion-avatar slot="start">
            <img src="{{usuario.fotoURL}}">
          </ion-avatar>
          <ion-label>
            <h2 class="ion-text-capitalize bold">{{usuario.nombre}} {{usuario.apellido}}</h2>
            <h3 *ngIf="usuario.email">Correo: {{usuario.email}}</h3>
          </ion-label>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="success" (click)="aprobarUsuario(usuario, true)">
            <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" (click)="aprobarUsuario(usuario, false)">
            <ion-icon slot="icon-only" name="close-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-card>
</ion-content>