ion-toolbar {
  --background: #39a1ac;
  width: 100%;
}

ion-title {
  --color: #fff;
  font-weight: 600;
  font-size: 1.5em;
}


#box {
  --background: rgba(253, 253, 253, 0.3);
  height: 93vh;
  margin-top: -1em;
}

ion-content {
  width: 100%;
  --background: url("./../../../src/assets/background1.jpeg") center;
  background-attachment: fixed;
  background-size: cover;
}

////////////////////////////////////7

.lbl{
  font-size: 25px;
  font-family: cursive;
}

.boton{
  height: 100px;
}