ion-toolbar {
  --background: #39a1ac;
  width: 100%;
}

ion-title {
  --color: #fff;
  font-weight: 600;
  font-size: 1.5em;
}


#box {
  --background: rgba(253, 253, 253, 0.3);
  height: 93vh;
  margin-top: -1em;
}

ion-content{
  --background: #a4a4a4;
}