<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start"> Bienvenido </ion-title>
  </ion-toolbar>
</ion-header>
<ion-fab vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button color="dark" style="width:45px;height:45px;margin-top:-5px">
    <ion-icon name="exit-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="bottom">
    <ion-fab-button color="dark" (click)="logout()">
      <ion-icon name="exit-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<ion-content [fullscreen]="true">
  <ion-card id="box" style="margin-top: 10px;">
    <ion-button expand="block" type="submit" color="success" class="boton" (click)="gestionarUsuarios()">
      <ion-icon class="lbl" slot="start" name="people"></ion-icon>Gestionar Usuarios
    </ion-button>
  </ion-card>
</ion-content>