<ion-header>
  <ion-toolbar>
    <ion-title>Pedido</ion-title>
  </ion-toolbar>
</ion-header>
<ion-fab vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button color="dark" style="width:45px;height:45px;margin-top:-5px">
    <ion-icon name="exit-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="bottom">
    <ion-fab-button color="dark" (click)="back()">
      <ion-icon name="arrow-back-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="dark" (click)="logout()">
      <ion-icon name="exit-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<ion-content>
 
  <div id="box">
  <ion-item class="btnCategorias">
    <ion-button color="warning" fill="outline" expand="block" style="width: 30%;" (click)="menu = 'PLATOS'">
      Platos
    </ion-button>
    <ion-button color="warning" fill="outline" expand="block" style="width: 30%;" (click)="menu = 'BEBIDAS'">
      Bebidas
    </ion-button>
    <ion-button color="warning" fill="outline" expand="block" style="width: 30%;" (click)="menu = 'POSTRES'">
      Postres
    </ion-button>
  </ion-item>

  <ion-item *ngIf="menu == 'PLATOS'">
    <!-- PLATOS -->
    <ion-list color=“transparent” style="width: 100%;">
      <ion-list-header color="light">
        PLATOS
      </ion-list-header>

      <ion-item *ngFor="let producto of listaComida" color="medium">
        <ion-avatar slot="start">
          <img src="{{producto.fotos[0]}}">
        </ion-avatar>
        <ion-label color="light">
          <h2 class="ion-text-capitalize bold">{{producto.nombre}}</h2>
          <p>
            <ion-badge color="light">
              <ion-icon name="logo-usd"></ion-icon>
              {{producto.precio}}
            </ion-badge>
            <ion-badge color="dark">
              <ion-icon name="time-outline"></ion-icon>
              {{producto.tiempo}} min
            </ion-badge>
            <ion-badge>
              <ion-icon name="add-circle-outline" (click)="agregar(producto)"></ion-icon>
            </ion-badge>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-item>

  <ion-item *ngIf="menu == 'BEBIDAS'">
    <!-- BEBIDAS -->
    <ion-list color=“transparent” style="width: 100%;">
      <ion-list-header color="light">
        BEBIDAS
      </ion-list-header>

      <ion-item *ngFor="let producto of listaBebida" color="medium">
      <!-- <ion-item *ngFor="let producto of listaBebida" (click)="verProducto(producto)" color="medium"> -->
        <ion-avatar slot="start">
          <img src="{{producto.fotos[0]}}">
        </ion-avatar>
        <ion-label color="light">
          <h2 class="ion-text-capitalize bold">{{producto.nombre}}</h2>
          <p>
            <ion-badge color="light">
              <ion-icon name="logo-usd"></ion-icon>
              {{producto.precio}}
            </ion-badge>
            <ion-badge color="dark">
              <ion-icon name="time-outline"></ion-icon>
              {{producto.tiempo}} min
            </ion-badge>
            <ion-badge>
              <ion-icon name="add-circle-outline" (click)="agregar(producto)"></ion-icon>
            </ion-badge>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-item>

  <ion-item *ngIf="menu == 'POSTRES'">
    <!-- POSTRES -->
    <ion-list color=“transparent” style="width: 100%;">
      <ion-list-header color="light">
        POSTRES
      </ion-list-header>

      <ion-item *ngFor="let producto of listaPostre" color="medium">
        <ion-avatar slot="start">
          <img src="{{producto.fotos[0]}}">
        </ion-avatar>
        <ion-label color="light">
          <h2 class="ion-text-capitalize bold">{{producto.nombre}}</h2>
          <p>
            <ion-badge color="light">
              <ion-icon name="logo-usd"></ion-icon>
              {{producto.precio}}
            </ion-badge>
            <ion-badge color="dark">
              <ion-icon name="time-outline"></ion-icon>
              {{producto.tiempo}} min
            </ion-badge>
            <ion-badge>
              <ion-icon name="add-circle-outline" (click)="agregar(producto)"></ion-icon>
            </ion-badge>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-item>

  <ion-item-sliding>
    <ion-item>
      <ion-label>
        <h2 class="ion-text-capitalize bold">Importe acumulado $ {{importeAcumulado}}</h2>
        <h3>Tiempo {{tiempoMaximo}} min</h3>
      </ion-label>
    </ion-item>
    <ion-card>
      <div  *ngFor="let producto of listadoItems">
        <p>{{producto.cantidad}} {{producto.nombre}}</p>
      </div>
    </ion-card>
    <ion-item>
      <ion-label *ngIf="importeAcumulado > 0 && confirmar == false">
        <ion-button expand="block" color="warning" style="width: 100%;" (click)="confirmarPedido()">
          ¿Confirma finalizar pedido?
        </ion-button>
        <ion-button expand="block" type="button" class="boton" style="width: 100%;" (click)="back()">
          Cancelar
        </ion-button>
      </ion-label>
      <ion-label *ngIf="confirmar != false">
        <ion-button expand="block" type="button" class="boton" color="warning" style="width: 100%;" (click)="back()">
          Volver al menú
        </ion-button>

      </ion-label>
    </ion-item>
  </ion-item-sliding>

  <!-- <ion-item-sliding *ngIf="pedido != undefined"> 
    <h2 class="ion-text-capitalize bold">Detalle del pedido</h2>
    <ion-item *ngFor="let itemPedido of listaItems"> 
      <ion-label>
        <h3>{{ this.itemPedido.cantidad }} - {{ this.itemPedido.producto.nombre }}</h3>                        
      </ion-label>
    </ion-item>
  </ion-item-sliding> -->
</div>

</ion-content>